/*全ページ共通 */

html{
  font-size: 100%;
}

header {
  margin: 0px;
  width: 100%;
  background: linear-gradient(to right, 
  #000000 0% 20%,
  #222222 20% 40%,
  #444444 40% 60%,
  #999999 60% 80%,
  #dddddd 80% 100%);
  display: flex;
  justify-content: right;
  height: 80px;
  padding-left: 5px;
}

div.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.topper{
  background-color: #000000; /*背景色*/
  color: #ffffff;/* 文字色*/
  font-family: "ヒラギノ角ゴ ProN";
  font-weight: 300;
  height: 60px;
  text-align: center;
  line-height:60px; /*テキストが1行のときのみ、上下中央ぞろえが実装できる*/
}

div.topline {
  margin-top: 0px;
  border-left:2px solid #ffffff;
  border-right:2px solid #ffffff;
  text-align: right;
  margin-left: 10px; /*marginは外側に、paddingは内側に余白を作る*/
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 10px;
}

div.topper a{
  color:#ffffff;
}

div.topper a:hover{
  text-decoration: underline;
}

dl {
  margin: 0px;
  padding: 5px;
  width: max-content;
  max-width: 100%;
  display: table-cell;
  vertical-align: middle;
}
dt {
  text-align-last: justify;
  font-family: "ヒラギノ角ゴ ProN";
  font-weight: 500;
}
div.big {
  font-size: 1rem;
}
div.small {
  font-size: 0.6rem;
}

body{
  font-family: "ヒラギノ明朝 ProN";
  margin: 0px;
  background-color:#fffaef
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 30px;
  justify-content: center;
}

h1{
  font-family: "ヒラギノ角ゴ ProN";
  vertical-align: middle;
  font-size: 2rem;
  font-weight: 600;
  margin: 0px;
  padding: 5px;
  padding-top: 15px;
}

h2{
  font-family: "ヒラギノ角ゴ ProN";
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

p{
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

a{
  text-decoration: underline;
  color: #0000ff;
}

.news h2{
  padding-bottom: 5px;
}

.news{
  margin: 12px;
  padding: 5px 5px 0 5px;
  border: 1px dashed;
  height: 120px;
  overflow-y: scroll;
}

.news-table {
    width: 100%;
    text-align: center;
    padding: 10px;
}
.news-table tr {
    border-bottom: 5px solid #fffaef;
}
.news-table td {
    display: block;
}
.date {
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: #e0ffff;
  font-size: 1rem;
  text-align: left;
}
.info {
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-color: #e0ffff;
  text-align: left;
}

main div.card {
  width: calc(100% - 10px);
  background-color: #dcdddd;
  transition: background-color 0.5s;
  border: 4px solid #dcdddd;
}

div.card:hover {
  background-color: bisque;
  border: 4px solid bisque;
}

div.card a{
  color: black;
  text-decoration: none;
}

div.hide{
  display: none;
}
div.imog{
  padding-left: 10px;
  padding-top: 20px;
}


div.list{
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  row-gap: 5px;
}

div.table{
  margin-right: 10px;
}


div.link{
  text-decoration: underline;
}

.footer {
  border-top: 1px solid #000000;
  padding-top: 1rem;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

@media (min-width: 750px) {
.news-table td {
  display: table-cell;
}

.date {
  padding: 0.5rem;
  width: 155px;
  text-align: right;
}
.info {
  padding: 0.5rem;
  background-image: linear-gradient( to right, #e0ffff, #ffffff);
  font-size: 1rem;
}
  
header {
  height: 110px;
  background: linear-gradient(to right, 
  #000000 0% 10%,
  #111111 10% 20%,
  #222222 20% 30%,
  #333333 30% 40%,
  #444444 40% 50%,
  #666666 50% 60%,
  #999999 60% 70%,
  #aaaaaa 70% 80%,
  #dddddd 80% 90%,
  #ffffff 90% 100% );
  

}

div.big {
    font-size: 1.5rem;
}
div.small {
  font-size: 0.8rem;
}
  
main div.card {
   /* （全体の幅 - gapでつけた余白の合計）をカラム数で割る */
   width: calc((100% - 85px) / 3);
}

div.table{
  justify-content: space-between;
  display: table;
  }

div.hide{
  display: contents;
  padding-left: 10px;
}
div.imog{
  padding-top: 0px;
}

}
